header {
    background: #ebebeb;
    padding: 20px;
    margin: 0%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%
}

nav {
    background: #ebebeb;
    padding: 20px;
    margin: 0%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%
}