header {
    background: #ebebeb;
    padding: 20px;
    margin: 0%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%
}

nav {
    background: #ebebeb;
    padding: 20px;
    margin: 0%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%
}

section {
    background: #ebebeb;
    padding: 20px 0 25px 0;
    text-align: center;
    margin-left: 10%;
    width: 675px;
    float: left;
}

article {
    background: #777;
    color: #ebebeb;
    padding: 1px 3px 30px 3px;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
}

#box-1 {
    color: #777;
    background: #ebebeb;
    margin-left: 3%;
    margin-right: 3%;
}

#box-2 {
    color: #777;
    background: #ebebeb;
    margin-left: 3%;
    margin-right: 3%;
}

aside {
    background: #ebebeb;
    padding: 20px 0 250px 0;
    text-align: center;
    width: 521.6px;
    margin-left: 1.3%;
    float: left;
}

footer {
    background: #ebebeb;
    padding: 20px;
    margin: 0%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 22.4%;
}