body {
    font-family: 'arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    font-size: 18px;
    width: 960px;
    margin: auto;
}

header {
    background: #ebebeb;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}

nav {
    background: #ebebeb;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}

section {
    background: #ebebeb;
    padding: 20px 0 10px 0;
    text-align: center;
    width: 495px;
    float: left;
    margin-top: 10px;
}

article {
    background: #777;
    color: #ebebeb;
    padding: 1px 0px 10px 0px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 475px;
}

#box-1 {
    color: #777;
    background: #ebebeb;
    margin-left: 20px;
    margin-right: 20px;
}

#box-2 {
    color: #777;
    background: #ebebeb;
    margin: 10px 20px 15px 20px;
}

aside {
    background: #ebebeb;
    padding: 20px 0 235px 0;
    text-align: center;
    width: 455px;
    margin-left: 10px;
    float: left;
    margin-top: 10px;
}

footer {
    background: #ebebeb;
    padding: 20px;
    text-align: center;
    margin-top: 350px;
}